<!-- Loader gif image -->
<div class="loaderShow">
  <div id="processImg" class="processImg"><img src="images/loader.gif" alt="processImg"></div>
</div>

<!-- partial:partials/_footer.html -->
<footer class="footer fCustom footBack">
  <div class="d-sm-flex justify-content-center
            justify-content-sm-between">
    <span class="text-center text-sm-left d-block
              d-sm-inline-block">Copyright © <%= currentYear %> <a href="#" target="_blank"> GOLD</a>. All
        rights reserved.</span>
  </div>
</footer>

<!-- partial -->
</div>
<!-- main-panel ends -->
</div>
<!-- page-body-wrapper ends -->

</div>
<!-- container-scroller -->

<!-- plugins:js -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="../vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="../vendors/chart.js/Chart.min.js"></script>
<script src="../vendors/datatables.net/jquery.dataTables.js"></script>
<script src="../vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
<script src="../js/dataTables.select.min.js"></script>

<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="../js/off-canvas.js"></script>
<script src="../js/hoverable-collapse.js"></script>
<script src="../js/template.js"></script>
<script src="../js/settings.js"></script>
<script src="../js/todolist.js"></script>
<!-- endinject -->
<!-- <script src="../vendors/js/bootstrap.min.js.map"></script> -->
<script src="../vendors/toastr.min.js"></script>
<!-- Custom js for this page-->
<script src="../js/dashboard.js"></script>
<script src="../js/Chart.roundedBarCharts.js"></script>
<!-- End custom js for this page-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.0/lightgallery.min.js"></script>
<!-- load additional methods -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/additional-methods.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.2/croppie.js"></script>
<script src="../vendors/jquery-validate.js"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css"
  href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">

<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="../vendors/datatables.net/jquery.dataTables.js"></script>
<script src="../js/dataTables.select.min.js"></script>
<script src="../vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>

<!-- For shown multiple image with zoom js cdn. -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
<!-- <script src="../js/cropper.js"></script>-->
<!-- <script src="../js/main.js"></script>  -->


<!-- 
  <script src="vendors/datatables.net/jquery.dataTables.js"></script>
  <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script> -->
</body>

</html>